body{
	background-image: url(images.jpg);
}
.logo {
	min-height: 70px;
	width: 70px;
	margin-top:5px;
	margin-bottom: 5px;
	display: inline-block;
	float:left;
}
.iBAS{
	float:left;
}
.iBAS {
	color:white;
	font-style: italic;
	font-weight: bold;
	font-size:40px;
	margin-left:20px;
	margin-top:20px;
}

.box{
	min-height: 40px;
	background-color:#364150;
	margin-bottom: 0px;
	overflow: hidden;
	box-shadow: 5px 5px 2px 2px;
	color: #ABB1BA;
}
@font-face { font-family: SutonnyMJ; src: url('../fonts/SutonnyMJ.TTF'); }


.body{
	min-height: 500px;
	background-color:#E3DBD4;
	box-shadow: 5px 5px 2px 2px;
	color: #ABB1BA;

}

.box1{
	min-height: 300px;
	margin-top:50px;
	margin-left: 50px;
	
}
.box2{
	min-height: 250px;
	/*background-color:#364150;*/
	margin-top:80px;
	/*ECEEF1*/

}
.box3{
	min-height: ;
	margin-top: 50px;
	margin-right: 50px;
	
}
.ebutton{
	margin-left:55px;
	margin-top:20px;
	box-shadow: 2px 2px ;
	
	min-width: 250px !important;
	font-family: 'SutonnyMJ';
	font-size: 20px;

}